[Desktop Entry]
Name=Vidify
GenericName=Music Video Player
Comment=Watch live videos for the songs playing on your device
Keywords=vidify;music;video;player;live;song;spotify;youtube;
Exec=vidify
Icon=vidify
Terminal=true
Type=Application
Categories=AudioVideo;Video
StartupNotify=false
